/* a {
  color: white;
} */
.navbar {
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-right: 1rem;
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}
