<div class="container" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form class="">

            <mat-card-content>

                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="registerUserData.emailAddress" name="email" type="text" matInput placeholder="Email">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="registerUserData.userName" name="username" type="text" matInput placeholder="Username">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="registerUserData.password" name="password" type="password" matInput placeholder="Password">
                </mat-form-field>
            </mat-card-content>

            <button (click)="registerUser()" type="button" mat-stroked-button color="accent" class="btn-block">Register</button>

        </form>
    </mat-card>
</div>