<form class="">
    <mat-card-content>
        <mat-form-field class="">
            <input [(ngModel)]="jobData.position" name="position" matInput placeholder="Position">
        </mat-form-field>
        <br>
        <mat-form-field class="">
            <input [(ngModel)]="jobData.company" name="company" matInput placeholder="Company">
        </mat-form-field>
        <br>
        <mat-form-field class="">
            <input [(ngModel)]="jobData.jobLink" name="jobLink" matInput placeholder="Job Description Link">
        </mat-form-field>
        <br>
        <mat-form-field class="">
            <input [(ngModel)]="jobData.status" name="position" matInput placeholder="Status">
        </mat-form-field>
        <br>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="open" name="open">
            <mat-radio-button value="open">Open</mat-radio-button>
            <mat-radio-button value="closed">Closed</mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
    <button (click)="updateJob()" mat-stroked-button color="primary" class="btn-block">Update Job</button>
</form>